@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg,#985a04,rgba(200,77,6,.8588235294117647));
}

.centriranje {
  display: block;
  align-items: center;
}

.title-h1 {
  font-size: 5rem;
  font-weight: 400;
  color:  white;
  font-family:  "Lobster";
}
